:root {
  --green: #60E7A6;
  --orange: #FEB985;
  --pink: #EDB4F8;
  --purple: #BBB5FD;
  --yellow: #E8FC87;
  --red: #EA7C79;
  --dark-blue: #4679BE;
  --light-blue: #87ADFC;
}

/* 
A1 - yellow
A2 - orange
B1 - blue
B2 - purple
C1 - pink
C2 - green
*/

.a1:hover {
  background-color: var(--yellow);
  box-shadow: 10px 10px black;
}

.a2:hover {
  background-color: var(--orange);
  box-shadow: 10px 10px black;
}

.b1:hover {
  background-color: var(--light-blue);
  box-shadow: 10px 10px black;
}

.b2:hover {
  background-color: var(--purple);
  box-shadow: 10px 10px black;
}

.c1:hover {
  background-color: var(--pink);
  box-shadow: 10px 10px black;
}

.c2:hover {
  background-color: var(--green);
  box-shadow: 10px 10px black;
}

.a1S {
  background-color: var(--yellow);
}

.a2S {
  background-color: var(--orange);
}

.b1S {
  background-color: var(--light-blue);
}

.b2S {
  background-color: var(--purple);
}

.c1S {
  background-color: var(--pink);
}

.c2S {
  background-color: var(--green);
}

body {
    margin: 0;
    padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

nav {
  height: 70px;
  margin: 0;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(227, 227, 227);
}

nav ul {
  list-style-type: none;
  margin: 30px 0 0 0;
  padding: 0;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav ul li {
  margin: 0;
}

nav ul li a:hover {
  color: rgb(207, 207, 207);
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-family: "Poppins";
  font-size: large;
  text-transform: capitalize;
  padding: 0.4rem 2rem;
}

.active {
  border-bottom: 2px solid black;
}

main {
  /* background-color: cornflowerblue; */
  padding: 0 3rem;
}

div #heading {
  font-family: Poppins;
  font-size: xxx-large;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.categoryContainer {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 80px;
}

.categoryBox {
  border: 1px solid black;
  position: relative;
}

.categoryBox a {
  text-decoration: none;
  color: black;
  font-family: Playfair Display;
  width: 100%;
  display: flex;
  justify-content: center;
}

.categoryBox div {
  display: flex;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
}

/* exercises */

.exerciseBox {
  border: 1px solid black;
  width: 300px;
  margin-bottom: 20px;
  padding: 0 0 0 1rem;
}

.exerciseBox a {
  text-decoration: none;
  color: black;
  font-family: Playfair Display;
  width: 100%;
  display: flex;
}
  
.questionBox {
  margin-bottom: 20px;
}
  
.questionBox h3 {
  margin: 0;
}
  
#score {
  margin-top: 20px;
  font-weight: bold;
}

#pastSimple:hover, #pastContinuous:hover, #pastPerfect:hover, #pastPerfectContinuous:hover{
  background-color: var(--yellow);
  /* box-shadow: 10px 10px black; */
}

#presentSimple:hover, #presentContinuous:hover, #presentPerfect:hover, #presentPerfectContinuous:hover{
  background-color: var(--green);
  /* box-shadow: 10px 10px black; */
}

#futureSimple:hover, #futureContinuous:hover, #futurePerfect:hover, #futurePerfectContinuous:hover{
  background-color: var(--pink);
  /* box-shadow: 10px 10px black; */
}

/* Neutral answer */
.neutralAnswer {
  background-color: #f0f0f0;
  color: black;
  border: 2px solid black;
  cursor: pointer;
  padding: 10px 10px 10px 20px;
  width: 100%;
  display: flex;
  justify-content: left;
}

.neutralAnswer:hover {
  background-color: #dadada;
}

/* Selected answer */
.selectedAnswer {
  background-color: #787878;
  color: black;
  border: 2px solid black;
  padding: 10px 10px 10px 20px;
  width: 100%;
  display: flex;
  justify-content: left;
}

/* Correct answer */
.correctAnswer {
  background-color: var(--green);
  color: white;
  border: 2px solid black;
  padding: 10px 10px 10px 20px;
  width: 100%;
  display: flex;
  justify-content: left;
}

/* Wrong answer */
.wrongAnswer {
  background-color: var(--red);
  color: white;
  border: 2px solid black;
  padding: 10px 10px 10px 20px;
  width: 100%;
  display: flex;
  justify-content: left;
}

button:disabled {
  cursor: default;
}

form {
  font-family: Poppins;
}

.inputParagraph {
  margin-bottom: 2rem;
}

input {
  border: 2px solid black;
  padding: 10px 20px 10px 20px;
  margin: 0 0.5rem;
  font-family: Poppins;
  font-size: medium;
  width: 175px;
}

input[type=text]:focus {
  background-color: #f0f0f0;
  outline: none;
}

select {
  background-color: white;
  border: 2px solid black;
  padding: 10px 10px 10px 20px;
  margin: 0 0.5rem;
  font-family: Poppins;
  font-size: medium;
  width: 175px;
}

/* Add styles for correct and wrong inputs */
.correctInput {
  border: 2px solid black;
  color: var(--green);
}
.wrongInput {
  border: 2px solid black;
  color: var(--red);
}

.checkAnswersButton {
  background-color: var(--purple);
  border: 2px solid rgb(0, 0, 0);
  padding: 1rem 2rem;
  cursor: pointer;
  width: auto;
}

.resetButton {
  background-color: var(--red);
  border: 2px solid rgb(0, 0, 0);
  padding: 1rem 2rem;
  cursor: pointer;
  width: auto;
}

.pink {
  background-color: var(--pink);
}